DATALOADER:
  NO_SKIP_INVALID_GT: true
  ONLY_TRAIN_ON_AUGMENTED: false
  SHUFFLE_BUFFER_SIZE: 1000
  TRAIN_ON_THE_FLY: false
  VALID_ON_THE_FLY: false
DATASET:
  TRAIN:
    GT_EXTENSION: false
    PATH: ''
    TEXT_FILES: false
    TYPE: 1
  VALID:
    GT_EXTENSION: false
    PATH: false
    TEXT_FILES: false
    TYPE: 1
DISPLAY: 100
EARLY_STOPPING_BEST_MODEL_OUTPUT_DIR: false
EARLY_STOPPING_BEST_MODEL_PREFIX: best
INPUT:
  BIDI_DIR: false
  DATA_PREPROCESSING:
  - 0
  LINE_HEIGHT: 48
  N_AUGMENT: 0
  PAD: 16
  TEXT_NORMALIZATION: NFC
  TEXT_REGULARIZATION:
  - extended
MODEL:
  CODEX:
    KEEP_LOADED_CODEC: false
    SEE_WHITELIST: false
    WHITELIST: []
    WHITELIST_FILES: []
  NETWORK: cnn=40:3x3,pool=2x2,cnn=60:3x3,pool=2x2,lstm=200,dropout=0.5
  WEIGHTS: ''
NO_PROGRESS_BAR: false
NUM_THREADS: 1
OUTPUT_DIR: run_0
OUTPUT_MODEL_PREFIX: model_
SEED: 16
SOLVER:
  BATCH_SIZE: 5
  CHECKPOINT_FREQ: -1
  EARLY_STOPPING_AT_ACC: 0
  EARLY_STOPPING_FREQ: -1
  EARLY_STOPPING_NBEST: 5
  GRADIENT_CLIPPING_NORM: 5
  MAX_ITER: 1000000
STATS_SIZE: 100
VERSION: 1.0.3
